@model IEnumerable<MyMovieApp.Entity.MovieModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Movie List</h1>

<h1>The Movie Details </h1>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                Sr. No
            </th>
             <th>
                MovieTitle
            </th>
             <th>
                MovieDescription
            </th>
             <th>
                MovieType
            </th>
            <th>
               MovieLanguage
            </th>
            <th>
                Action-1
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.MovieId
                </td>
                <td>
                    @item.MovieTitle
                </td>
                <td>
                    @item.MovieDescription
                </td>
                <td>
                    @item.MovieType
                </td>
                <td>
                    @item.MovieLanguage
                </td>
                <td>
                    <a asp-action="updatemovie" asp-controller="Movie" asp-route-MovieId=@item.MovieId>Update Movie</a>
                </td>
                <td>
                    <a asp-action="deleteMovie" asp-controller="Movie" asp-route-MovieId=@item.MovieId>Delete Movie</a>
                </td>
            </tr>
        }
    </tbody>
</table>