@model IEnumerable<MyMovieApp.Entity.UserModel>
@{
    ViewData["Title"] = "ShowUserDetails";
}

<h1>ShowUserDetails</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                UserId
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Mobile
            </th>
            <th>
                Action-1
            </th>
            <th>
                Action-2
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var item in Model)
            {
                <tr>
                    <td>
                    @item.UserId
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Mobile</td>
                    <td><a asp-action="EditUser" asp-controller="User" asp-route-UserId="@item.UserId">Edit user</a></td>
                    <td><a asp-action="DeleteUsers" asp-controller="User" asp-route-UserId="@item.UserId">Delete User</a></td>
                </tr>
            }
        }
    </tbody>
</table>
